<div class="workout-background">
	<div class="row">
		<div class="grid-x">
			<div class="small-12">&nbsp;</div>
		</div>
		<div class="grid-x">
			<div class="small-1 columns"></div>
			<div class="small-10 columns card">
				<%= render @workout %>
			</div>
			<div class="small-1 columns"></div>
		</div>
	</div>
</div>




