<div class="text-center">
	<h1>Welcome to Fit Commit!</h1>
	<h4>- The Open Source Fitness Hub -</h4>
	<hr>
	<hr>
	<br>
	<p style="width: 800px; margin: 0 auto;">
	Fit Commit is an open source project designed to encourage healthy habits and freindly competition between people who want to inject some good old fashioned Health into their daily routine.
	</p>
	<hr>
	<br><br>
</div>

<div class="card" style="width: 500px; margin: 0 auto;">
	<ul class="vertical menu">
	  <li><a href="#how-to-play">How To Play</a></li>
	      <ul class="nested vertical menu">
	      <li><a href="#the-basics">The Basics</a></li>
	      <li><a href="#level-up">Level Up!</a></li>
	      <li><a href="#make-progress">Make Progress</a></li>
	      <li><a href="#collect-new-workouts">Collect New Workouts</a></li>
	      <li><a href="#boss-fight">Boss Fight!</a></li>
	    </ul>
	  <li><a href="#why-play">Why Play?</a></li>
	  <li><a href="#the-community">The Community</a></li>
	  <li><a href="#contribute">Want to Contribute</a></li>
	</ul>
</div>
<br>
<br>
<hr>
<hr>

<h2 id="how-to-play" class="text-center">How to Play</h2>
<br>

<div class="card" style="padding-left: 15px;">
	<h4 id="the-basics">The Basics</h4>
	<p>The core of Fit Commit is your player dashboard. Here, every hour, you will be able to earn experience points (EXP) by completing a Workout Set, and by drinking water.</p>
	<p>It's that simple!</p>
	<p>Click on the 'Workout!' button and you will be prompted to complete a certain amount of repitions of an excercise from your list of Workouts. After you've completed the workout, you will be awarded with EXP. And swollen muscles!</p>
	<p>You will also be given EXP for staying hydrated. Drinking 8 ounces of water every hour will kick up your health game to maximum mathitude!</p>
</div>

<div class="card" style="padding-left: 15px;">
	<h4 id="level-up">Level Up!</h4>
	<p></p>

</div>

<div class="card" style="padding-left: 15px;">
	<h4 id="make-progress">Make Progress</h4>
	<p></p>

</div>

<div class="card" style="padding-left: 15px;">
	<h4 id="collect-new-workouts">Collect New Workouts</h4>
	<p></p>

</div>

<div class="card" style="padding-left: 15px;">
	<h4 id="boss-fight">Boss Fight!</h4>
	<p></p>

</div>

<h2 id="why-play" class="text-center">Why Play?</h2>
<h2 id="the-community" class="text-center">The Community</h2>
<h2 id="contribute" class="text-center">Contribute</h2>