@import "foundation-datepicker";
@import "foundation_and_overrides";
/* Add imports of custom sass/scss files here */
@import 'foundation-icons';
@import 'layout';


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px aliceblue inset;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px ghostwhite inset;
}

.clockbar-wrapper {
	border: 1px solid black;
	border-radius: 2px;
	padding: 2%;

}

.hours-wrapper {

}

.current-time {
	border: 1px solid black;
	background: ghostwhite;
	color: darkorchid;
	border-radius: 2px;

}

.hour-bar {
	background: ghostwhite;
	border: 1px solid black;
	border-radius: 2px;

}

.hour-bar-yes {
	background: orange;
	border: 1px solid black;
	border-radius: 2px;
	color: white;

}

.hour-bar-no {
	background: gray;
	border: 1px solid black;
	border-radius: 2px;
	color: white;

}

.hour-score-true {
	background: orange;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	height: 30px;
}

.hour-score-false {
	background: lightgray;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	height: 30px;
}