
@import "foundation_and_overrides";
/* Add imports of custom sass/scss files here */
@import 'foundation-icons';
@import 'layout';


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px aliceblue inset;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px ghostwhite inset;
}

.clockbar-wrapper {
	border: 2px solid black;
	border-radius: 5px;
	padding: 4%;

}

.hours-wrapper {

}

.current-time {
	border: 2px solid black;
	background: ghostwhite;
	color: darkorchid;
	border-radius: 2px;

}

.hour-bar {
	background: aliceblue;
	border: 2px solid black;

}